apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 2 # You can scale here
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: rakeshroy1995/node-mysql-app-k8s-app
        ports:
        - containerPort: 3001
        env:
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-root-password
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: mysql-config
              key: mysql-database
